In [52]:
import io
import numpy as np
import pandas as pd
import requests
from datetime import datetime, timedelta

In [53]:
yesterday = date.today() - timedelta(days=2)
fmt = yesterday.strftime('%m-%d-%Y')
print(fmt)

07-03-2020

In [60]:

baseUrl = "https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/"
url = baseUrl
url += fmt
url += ".csv"
print('Requesting COVID-19 dataset for ' + fmt + ' Please be patient!')
s=requests.get(url).content
df = pd.read_csv(io.StringIO(s.decode('utf-8')))
df

Requesting COVID-19 dataset for 07-03-2020 ...

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key,Incidence_Rate,Case-Fatality_Ratio
0,45001.0,Abbeville,South Carolina,US,2020-07-04 04:33:51,34.223334,-82.461707,118,0,0,118.0,"Abbeville, South Carolina, US",481.102459,0.000000
1,22001.0,Acadia,Louisiana,US,2020-07-04 04:33:51,30.295065,-92.414197,968,39,0,929.0,"Acadia, Louisiana, US",1560.157950,4.028926
2,51001.0,Accomack,Virginia,US,2020-07-04 04:33:51,37.767072,-75.632346,1042,14,0,1028.0,"Accomack, Virginia, US",3224.408962,1.343570
3,16001.0,Ada,Idaho,US,2020-07-04 04:33:51,43.452658,-116.241552,2507,23,0,2484.0,"Ada, Idaho, US",520.570530,0.917431
4,19001.0,Adair,Iowa,US,2020-07-04 04:33:51,41.330756,-94.471059,15,0,0,15.0,"Adair, Iowa, US",209.731544,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3792,NaN,NaN,NaN,Western Sahara,2020-07-04 04:33:51,24.215500,-12.885800,10,1,8,1.0,Western Sahara,1.674116,10.000000
3793,NaN,NaN,NaN,Yemen,2020-07-04 04:33:51,15.552727,48.516388,1240,335,536,369.0,Yemen,4.157451,27.016129
3794,NaN,NaN,NaN,Zambia,2020-07-04 04:33:51,-13.133897,27.849332,1632,30,1348,254.0,Zambia,8.877306,1.838235
3795,NaN,NaN,NaN,Zimbabwe,2020-07-04 04:33:51,-19.015438,29.154857,625,7,176,442.0,Zimbabwe,4.205094,1.120000
3796,NaN,NaN,Unknown,Chile,2020-07-03 15:33:50,NaN,NaN,0,0,109,-109.0,"Unknown, Chile",NaN,NaN

1. Write a Python program to display first 5 rows from COVID-19 dataset. Also print the dataset information and check the missing values.

In [61]:
df.head(5)

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key,Incidence_Rate,Case-Fatality_Ratio
0,45001.0,Abbeville,South Carolina,US,2020-07-04 04:33:51,34.223334,-82.461707,118,0,0,118.0,"Abbeville, South Carolina, US",481.102459,0.000000
1,22001.0,Acadia,Louisiana,US,2020-07-04 04:33:51,30.295065,-92.414197,968,39,0,929.0,"Acadia, Louisiana, US",1560.157950,4.028926
2,51001.0,Accomack,Virginia,US,2020-07-04 04:33:51,37.767072,-75.632346,1042,14,0,1028.0,"Accomack, Virginia, US",3224.408962,1.343570
3,16001.0,Ada,Idaho,US,2020-07-04 04:33:51,43.452658,-116.241552,2507,23,0,2484.0,"Ada, Idaho, US",520.570530,0.917431
4,19001.0,Adair,Iowa,US,2020-07-04 04:33:51,41.330756,-94.471059,15,0,0,15.0,"Adair, Iowa, US",209.731544,0.000000

In [62]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3797 entries, 0 to 3796
Data columns (total 14 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   FIPS                 3115 non-null   float64
 1   Admin2               3119 non-null   object
 2   Province_State       3628 non-null   object
 3   Country_Region       3797 non-null   object
 4   Last_Update          3797 non-null   object
 5   Lat                  3723 non-null   float64
 6   Long_                3723 non-null   float64
 7   Confirmed            3797 non-null   int64
 8   Deaths               3797 non-null   int64
 9   Recovered            3797 non-null   int64
 10  Active               3793 non-null   float64
 11  Combined_Key         3797 non-null   object
 12  Incidence_Rate       3723 non-null   float64
 13  Case-Fatality_Ratio  3737 non-null   float64
dtypes: float64(6), int64(3), object(5)
memory usage: 415.4+ KB

In [63]:
df.isnull()

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key,Incidence_Rate,Case-Fatality_Ratio
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3792,True,True,True,False,False,False,False,False,False,False,False,False,False,False
3793,True,True,True,False,False,False,False,False,False,False,False,False,False,False
3794,True,True,True,False,False,False,False,False,False,False,False,False,False,False
3795,True,True,True,False,False,False,False,False,False,False,False,False,False,False
3796,True,True,False,False,False,True,True,False,False,False,False,False,True,True

In [ ]:
2. Write a Python program to get the latest number of confirmed, deaths, recovered and active cases of Novel Coronavirus (COVID-19) Country wise.

In [86]:
confirmed = df.groupby('Country_Region').Confirmed.sum().reset_index()
deaths = df.groupby('Country_Region').Deaths.sum().reset_index()
active = df.groupby('Country_Region').Active.sum().reset_index()

         Country_Region   Active
0           Afghanistan  14174.0
1               Albania   1088.0
2               Algeria   3301.0
3               Andorra      3.0
4                Angola    203.0
..                  ...      ...
183  West Bank and Gaza   2860.0
184      Western Sahara      1.0
185               Yemen    369.0
186              Zambia    254.0
187            Zimbabwe    442.0

[188 rows x 2 columns]

In [ ]:
3. Write a Python program to get the latest number of confirmed deaths and recovered people of Novel Coronavirus (COVID-19) cases Country/Region - Province/State wise.

In [92]:
df.groupby(['Country_Region', 'Province_State']).Deaths.sum()

Country_Region  Province_State
Australia       Australian Capital Territory       3
                New South Wales                   49
                Northern Territory                 0
                Queensland                         6
                South Australia                    4
                                                ...
United Kingdom  Northern Ireland                 552
                Scotland                        2487
                Turks and Caicos Islands           2
                Unknown                            0
                Wales                           1525
Name: Deaths, Length: 560, dtype: int64