In [2]:
import numpy as np

In this lab we use the file numpyex.txt to load data into an array
## Sample from file:
622,25,9,1,B,0,VH,44,33.0,658

Create a custom data type to load the file<br>
Name the fields: A,B,C,D,E,F,G,H,I,J

In [74]:
schema = np.dtype([('A', np.int16), 
                ('B', np.int16),
                ('C', np.int16),
                ('D', np.bool_),
                # ('E', np.unicode_, 1),
                ('E', np.str_, 1),
                ('F', np.int16),
                ('G', np.unicode_,2),
                ('H', np.int16),
                ('I', np.float32),
                ('J', np.int16)])

load the file numpyex.txt

In [76]:
data = np.loadtxt('numpyex.txt',skiprows=0,dtype=schema,delimiter=',')

print the array

In [77]:
print(data)

[(582, 33,  5,  True, 'B', 1, 'VL', 22, -47., 751)
 (622, 25,  9,  True, 'B', 0, 'VH', 44,  33., 658)
 (782, 35,  4, False, 'A', 2, 'H', 27, -26., 690)
 (947, 41,  4,  True, 'A', 1, 'VH', 48, -23., 316)
 (520, 18,  3,  True, 'B', 1, 'L', 33,  10.,  45)
 (420, 17, 12,  True, 'C', 1, 'VH', 46, -11., 900)
 (420, 16, 12,  True, 'B', 2, 'L', 40, -17., 369)
 (744, 30,  2,  True, 'C', 0, 'L', 40, -31., 316)
 (621, 26, 10,  True, 'B', 1, 'H', 29, -36., 430)
 (573, 24,  3, False, 'B', 2, 'H', 52,  33., 535)]

print the column E

In [157]:
print( data['E'] )

['B' 'B' 'A' 'A' 'B' 'C' 'B' 'C' 'B' 'B']

Change the values in column E<br>
A - 1<br>
B - 2<br>
C - 3<br>

In [159]:
data['E'] = np.where(data['E'] == 'A', data['E'] , 1)
data['E'] = np.where(data['E'] == 'B', data['E'] , 2)
data['E'] = np.where(data['E'] == 'C', data['E'] , 3)

Convert E to int32 (create a new array)

In [89]:
converted = data['E'].view(dtype=np.int32)
converted

array([66, 66, 65, 65, 66, 67, 66, 67, 66, 66], dtype=int32)

Compute the mean and std for A

In [46]:
np.mean(data['A'])
np.std(data['A'])

623.1

Perform standard scalar on A

Normalize B

In [47]:
np.linalg.norm( data['B'] )

87.41281370600079

Create a new array with A-E after all conversions

In [160]:
data[['A', 'B', 'C', 'D', 'E']]

array([(582, 33,  5,  True, '3'), (622, 25,  9,  True, '3'),
       (782, 35,  4, False, '3'), (947, 41,  4,  True, '3'),
       (520, 18,  3,  True, '3'), (420, 17, 12,  True, '3'),
       (420, 16, 12,  True, '3'), (744, 30,  2,  True, '3'),
       (621, 26, 10,  True, '3'), (573, 24,  3, False, '3')],
      dtype={'names':['A','B','C','D','E'], 'formats':['<i2','<i2','<i2','?','<U1'], 'offsets':[0,2,4,6,7], 'itemsize':29})